---
title: t('title')

language_tabs: # must be one of https://git.io/vQNgJ
  - shell: cURL
  - javascript: Node.js

toc_footers:
  - <a href='https://github.com/UBitSandBox/HYBRID-REST' target="_blank">t('footer.github')</a>
  - <a href='https://github.com/lord/slate' target="_blank">t('footer.slate')</a>
  - <p> <a href='/'>EN</a> - <a href='/fr'>FR</a></p>

includes:
  - os.md.erb
  - acl.md.erb
  - acp.md.erb
  - ou.md.erb
  - users.md.erb
  - admins.md.erb
  - roles.md.erb
  - deadlines.md.erb
  - deadline_category.md.erb
  - data_security.md.erb
  - dispose_type.md.erb
  - public_status.md.erb
  - security_class.md.erb
  - status_code.md.erb

search: true
---

# <%= t('introduction.title') %>
<%= t('introduction.description.p1') %>

<%= t('introduction.description.p2') %>

# <%= t('authentication.title') %>
> <%= t('message.authorize') %>

```shell
curl --request POST \
  --url http://127.0.0.1:9002/api/v1/ubit/auth/ \
  --header 'Authorization: Basic {BASE64}}' \
  --data '{"access_token":{MASTER_KEY}}'
```

```javascript--node
````
> <%= t('message.base64') %>
>
> <%= t('message.master') %>

<%= t('authentication.description.p1') %>

`Authorization: Basic eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiaWF0IjoxNTc3NzAzOTU5fQ.HEI6m7Twef5CKa-UMjhFoBSdIpgfMa4LKWVX-0vWf-I"`

<aside class="notice">
<%= t('authentication.message.replace1') %> <code>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiaWF0IjoxNTc3NzAzOTU5fQ.HEI6m7Twef5CKa-UMjhFoBSdIpgfMa4LKWVX-0vWf-I"</code> <%= t('authentication.message.replace2') %>
</aside>
